# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Coverage / test
coverage/

# Editor / OS
.DS_Store
.idea/
*.swp
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Misc
.cache/
